.headerWrapper {
    height: 70%;
    width: 100%;
    background-image: 
        url("../images/desktop/image-hero.jpg"),
        linear-gradient(hsl(0, 0%, 30%), hsl(0, 0%, 30%));
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10%;

    color: white;
    font-family: var(--font1, 'sans-serif');
}

.headerMenuWrapper {
    width: 80%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMenuWrapper img {
    height: 35%;
    width: 17%;
}

.headerMenu {
    width: 40%;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.headerMenu p {
    font-size: max(0.9rem, 0.9vw);
    cursor: pointer;
    position: relative;
}

.headerMenu p:hover::after {
    content: '';
    height: 3%;
    width: 100%;
    
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
}

.headerText {
    height: 55%;
    width: 40%;
    border-style: solid;
    border-color: white;

    align-self: flex-start;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.headerText p {
    font-size: max(3.6rem, 3.6vw);
    text-transform: uppercase;
    font-family: var(--font2, 'sans-serif');
}

@media screen and (max-width: 1050px) {
    .headerMenu p {
        font-size: 0.8rem;
    }

    .headerText p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 750px) {
    .headerWrapper {
        background-image: 
            url("../images/mobile/image-hero.jpg"),
            linear-gradient(hsl(0, 0%, 30%), hsl(0, 0%, 30%));
        background-blend-mode: hard-light;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .headerLogo {
        height: 30% !important;
        width: 40% !important;
    }

    .hamburger {
        height: 14% !important;
        width: 10% !important;
    }

    .headerText {
        height: 30%;
        width: 80%;
    }
}