.leaderWrapper {
    height: 80%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font1, 'sans-serif');
}

.leaderInnerWrapper {
    height: 80%;
    width: 80%;
    position: relative;
}

.leaderWrapper img {
    height: 100%;
    width: 65%;
}

.leaderTextWrapper {
    background-color: white;

    height: 60%;
    width: 50%;
    padding-left: 7%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10%;

    position: absolute;
    bottom: 0;
    right: 0;
}

.leaderTitle {
    width: 70%;
    font-size: max(2.5rem, 2.5vw);
    font-family: var(--font2, 'sans-serif');
    text-transform: uppercase;
}

.leaderDescription {
    font-size: max(0.85rem, 0.85vw);
    line-height: 150%;
    color: var(--darkGray);
}

@media screen and (max-width: 1050px) {
    .leaderTitle {
        width: 100%;
        font-size: calc(2 * 16px);
    }
}

@media screen and (max-width: 750px) {
    .leaderInnerWrapper {
        height: 85%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .leaderWrapper img {
        height: 35%;
        width: 100%;
    }

    .leaderTextWrapper {
        width: 100%;
        padding-left: 0;

        position: relative;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .leaderDescription {
        width: 85%;
    }
}